$lightGray: #eee;
$spaceAmount: 30px;

.header {
  margin-bottom: $spaceAmount;

  .code-subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: $spaceAmount;

    span {
      margin: 0 10px;
    }

    pre {
      padding: 5px 10px;
      font-size: 15px;
    }
  }
}

label, textarea {
  display: block;
}

textarea {
  outline: -webkit-focus-ring-color auto 0;
  max-width: 100%;
  resize: none;
}

#code-input, #code-output {
  font-family: monospace;
  font-size: 16px;
}

#code-input {
  padding: $spaceAmount;
  background-color: $lightGray;
  border: none;
  border-radius: 6px;
}

button {
  margin-top: $spaceAmount;
  margin-left: $spaceAmount / 2;
}

#code-output {
  height: calc(100% - 115px);
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  letter-spacing: 0.2px;
  font-weight: 500;
}
